.Detail-wrapper {
	display: flex;
	justify-content: center;
}

.Detail {
	width: 800px;
	background-color: #F5F5F5;
    border-radius: 5px;
    text-align: center;

}

.detail-card {
    display: flex;
    flex-direction: row;
	text-align: center;
    // padding: 0 15px 15px 15px;
    margin-left: 10%;
    margin-right: 10%;
}



.link{
    text-align: center;
    display: flex;
    justify-content: space-around;
}


.innerClass{
    background-color: #ffffff;
}

.detail-content{
    width:100%;
    
}

.detail-container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.previous-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.next-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meta {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}