* {
	margin: 0;
	padding: 0;
}

.List {
     
	display: flex;
    justify-content: center;
}

.pokedex{
    position: absolute;
    top: 0;
    text-align: center;
}

.someImage{
    padding-bottom: 20px;
    //margin: 0 auto;
}

.Segment{
    display: flex;
    justify-content: space-around;
}

.popular-list-list {
	flex-direction: column;
	padding-top: 15px;
    width: 100%;
    display: inline-block;
    list-style-type: none;

}

.picture-list {
	padding-bottom: 10px;
	padding-left: 10px;
	display: flex;
}

.searchBar {
    //width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%; 
    margin-top: 10px;
}

.settingContainer{
    display: flex;
    justify-content: flex-end;
}
.container-setting{
	padding: 15px;
    border-radius: 10px;
    background-color: #f5f5f5;
    margin-top: 10px;
    margin-right: 10px;
}


.input {
	padding-bottom: 15px;
}
.warning{
    padding: 10px;
    text-align: center;
}
